extends layout

block content
    div(ng-app="App" ng-controller="AppController")
        h1#main-header Customer base
        
        div#customer-input
            h2(ng-show="!editing") New contact
            h2(ng-show="editing") Editing contact
            form(name="inputForm")
                div.form-group
                    label(for="inputName") *Name
                    input.form-control#inputName(type="text" placeholder="Enter name" ng-model="customer.name" required maxlength="32")
                div.form-group
                    label(for="inputSurname") *Surname
                    input.form-control#inputName(type="text" placeholder="Enter surname" ng-model="customer.surname" required maxlength="32")
                div.form-group
                    label(for="inputPhone") *Phone
                    input.form-control#inputName(type="number" placeholder="Enter phone" ng-model="customer.phone" required maxlength="14")
                div.form-group
                    label(for="inputEmail") *Email
                    input.form-control#inputName(type="email" placeholder="Enter email" ng-model="customer.email" required maxlength="32")
            span.label.label-default#info * - required fields
            button.btn.btn-default(ng-click="add()" ng-show="!inputForm.$invalid") Save
            button.btn.btn-default(ng-click="cancel()" ng-show="!inputForm.$invalid") Cancel
        div#output-table
            h2 Cutomer list
            table.table.table-striped
                tr
                    th ID
                    th Name
                    th Surname
                    th Phone
                    th Email
                    th Action
                tr(ng-repeat="one in customers | orderBy:'id' track by $index ")
                    td {{one.id}}
                    td {{one.name}}
                    td {{one.surname}}
                    td {{one.phone}}
                    td {{one.email}}
                    td
                        button.btn.btn-default(ng-click="delete(one)"  ng-hide="editing") Delete
                        button.btn.btn-default(ng-click="edit(one)"  ng-hide="editing") Edit
